

body {
  font-family: 'Netflix Sans', sans-serif;
}

html, body {
margin: 0;
padding: 0;
width: 100%;
}

img {
  filter: brightness(50%); 
  width: 100%;
  height: 100%    
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
  }

  .lang {
      font-size: 15px;
      color: white;
      border: 3px solid rgb(175, 175, 175);
      padding: 10px 30px;

    }

    .signin {
         font-size: 20px;
         color: white;
         background: red;
         padding: 10px 30px;
         border-radius: 5px;
    }
      




  



.background{
  position: relative;
  background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/7968847f-3da9-44b3-8bbb-13a46579881f/web/US-en-20250609-TRIFECTA-perspective_bf732f5c-4fad-4035-9f96-79f38c9579a8_large.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  margin: 0;
  height: 1000px;
  width: 100%;
  filter: brightness(30%); 

}

.header {
  position: absolute;
  max-width: 1000px;
  margin: auto;
  right: 0px;
  left: 0px;
  top: 0px;
  gap: 10px;
  Display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

}

#logo {
  font-family: 'Netflix Sans';
  margin-left: 10px;
  font-size: 50px;
  color: Red;
  margin-right: auto;
}

.lang {
  font-family: 'Netflix Sans';
  background-color: transparent;
  color: white;
  height: 35px;
  width: 100px;
}

.lang-options{
  background-color: white;
  color: black;
}

.SignInButton {
  font-family: 'Netflix Sans';
  background-color: red;
  color:white;
  font-size: 14px;
  height: 32px;
  width: 80px;
  border-radius: 5px;
  border: none;
  margin-right: 20px;
}

.subscription-container{
  color: white;
  position: absolute;
  max-width: 650px;
  margin: auto;
  top: 400px;
  right: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription-title{
  font-size: 55px;
  font-weight: bold;
  text-align: center;;
}

.subscription-price{
  font-size: 25px;
  font-weight: bold;
  margin: 0px, 0px, 10px;
  padding: 20px;
}

.subcription-description {
    font-size: 25px;
}

@font-face {
font-family: 'Netflix Sans';
src: url("webfontkit-20250616-143528/netflixsans-bold-webfont.woff2") format('woff2'),
     url("webfontkit-20250616-143528/netflixsans-bold-webfont.woff") format('woff');
font-weight: normal;
font-style: normal;
}